version: '{build}'
image:
- Visual Studio 2017
- Ubuntu
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
environment:
  BUILD_NUMBER: $(APPVEYOR_BUILD_NUMBER)
build_script:
- cmd: ./build.cmd
- sh: ./build.sh
test: off
artifacts:
- path: ./SimpleExec/**/*.nupkg
deploy: off
