name: ci
on:
  push:
    branches: [main, release-*]
  pull_request:
  workflow_dispatch:
permissions: read-all
env:
  DOTNET_NOLOGO: true
  MINVERBUILDMETADATA: build.${{ github.run_id }}.${{ github.run_attempt}}
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: macos
            os: macos-15
          - name: ubuntu
            os: ubuntu-24.04-arm
          - name: windows
            os: windows-11-arm
    name: ${{ matrix.job.name }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10.0.103
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          filter: tree:0
          persist-credentials: false
      - run: ./build
      - if: matrix.job.name == 'ubuntu'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: NuGet packages
          path: ./artifacts/*.nupkg
